<footer id="footer">
    
    <div id="signup">
        <h3>Psst. We'll give you free SEO audit.</h3>
        <h6>(Don't worry, we hate spam too. Your email address is safe ).</h6>
        <form action="">
            <input type="email" placeholder="Submit your email and we'll follow up with simple instructions. ">
            <input type="submit">
        </form>
    </div>
    <div class="footer-links-wrapper">
        <div class="mw77">
            <div class="flex-me">
                    <img src="{{ site.baseurl }}/assets/images/site.png" alt="">
            </div> 
            <div class="social-media flex-me">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
            </div>
            <ul class="flex-me">
                <li><a href="">item</a></li>
                <li><a href="">item</a></li>
                <li><a href="">item</a></li>
                <li><a href="">item</a></li>
            </ul>
            
        </div>
        <p style="text-align: center; ">Copyright &copy Site 2019</p>

    </div>
    

    
</footer>