<footer id="footer">
    
    <div id="signup">
        <h3>Psst. We'll give you free SEO audit.</h3>
        <form action="">
            <input type="email" placeholder="Submit your email and we'll follow up with simple instructions. ">
            <input type="submit">
        </form>
    </div>
    <div class="footer-links-wrapper">
        <div class="mw77">
            <div class="flex-me">
                    <img src="{{ site.baseurl }}/assets/images/site.png" alt="">
            </div> 
            <div class="social-media flex-me">
                    <a href="https://twitter.com/Site_LLC"><i class="fab fa-twitter"></i></a> 
                    <a href="https://www.facebook.com/siteLLC1"><i class="fab fa-facebook"></i></a> 
                    <a href="https://www.instagram.com/sitellc/"><i class="fab fa-instagram"></i></a> 
            </div>
            <ul class="flex-me">
                <li><a href="#ourServices">Our Services</a></li>
                <li><a href="#ourResults">Our Results</a></li>
                <li><a href="#whoWeAre">Who We Are</a></li>
                <li><a href="#tips">Marketing Tips</a></li>
            </ul> 
            
        </div>
        <p style="text-align: center; ">Copyright &copy Site 2019</p>

    </div>
    

    
</footer>