<header id="header">
    {% include _nav.html %}

    <div class="header-svg">
        {% include header-images-blob.html %} 
        <div class="headline-wrapper">
            <h1> {{ page.headline }} </h1>
            <h2> {{ page.subheading }} </h2>
        </div>       
    </div>
    <div id="signup">
        <h3>get your free seo audit</h3>
        <form action="">
            <input type="email">
            <input type="submit">
        </form>
    </div>
    
</header>