<section id="ourResults">
    <div class="mw77">
        <header>
            <h1>{{ page.ourResultsSectionTitle }}</h1>
        </header>
        <p>{{ page.ourResultsSectionBlurb }}</p>

        <div class="slick-container">
            <article>
                <header>
                    <h3>Project Name</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, nihil facilis voluptas iste ab inventore impedit consequuntur sint voluptatum laboriosam ea quae aperiam voluptate tempore similique totam. Quasi, dolores at? </p>
                    <a href="">Project Link</a>

                </header>
                <div>
                    <img src="{{ site.baseurl }}/assets/images/work1.png" alt="">
                </div>
            </article>
            <article>
                <header>
                    <h3>Project Name </h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium reiciendis incidunt, praesentium dicta totam voluptate, atque quia ad tenetur veritatis quam repellendus ex ea dignissimos iusto, officiis tempora voluptatem earum? </p>
                    <a href="">Project Link</a>

                </header>
                <div>
                    <img src="{{ site.baseurl }}/assets/images/work1.png" alt="">
                </div>

            </article>
            <article>
                <header>
                    <h3>Project Name </h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium reiciendis incidunt, praesentium dicta totam voluptate, atque quia ad tenetur veritatis quam repellendus ex ea dignissimos iusto, officiis tempora voluptatem earum? </p>
                    <a href="#">Project Link</a>

                </header>
                <div>
                    <img src="{{ site.baseurl }}/assets/images/work1.png" alt="">
                </div>

            </article>

        </div>
    </div>

</section>