
<section id="ourResults">
    <div class="mw77">
        <header>
            <h1>{{ page.ourResultsSectionTitle }}</h1>
        </header>
        <p>{{ page.ourResultsSectionBlurb }}</p>
        <div class="partners">
            {% for parnter in site.partners %}
            <img src="{{site.baseurl}}{{partner.img}}" alt="">
            {% endfor %}
        </div>    
        <div class="slick-container">
            {% for project in site.work%}
            <article>
                <header>
                    <h3>{{ project.title}}</h3>
                    {{ project.content | markdownify }}
                    <a href="">Project Link</a>

                </header>
                <div>
                    <img src="{{ site.baseurl }}{{ project.Images }}" alt="">
                </div>
            </article>
            {% endfor %}
            

        </div>
    </div>

</section>