
<section id="ourResults" >
    <div class="mw77" >
        <header >
            <h1>{{ page.ourResultsSectionTitle }}</h1>
        </header>
        <p>{{ page.ourResultsSectionBlurb }}</p>
    </div>
    
    <div class="mw77" > 
        <div class="slick-container">
            {% for project in site.work%}
            <article style="background: url('{{site.baseurl}}{{project.Images}}'); background-size: cover; ">
                <header>
                    <h3>{{ project.title}}</h3>
                    {{ project.content | markdownify }}
                    <a href="">Project Link</a>

                </header>
            </article>
            {% endfor %}
            

        </div>
    </div>
    <article class="partners">
        <header>
            <h1>Our Partners</h1>
        </header>
        <div class="mw77">
            {%comment%}<img src="{{site.baseurl}}{{partner.img}}" alt="">{%endcomment%}
            <img src="{{site.basurl}}assets/images/logo-reverse-tint.png" alt="">

            <img src="{{site.basurl}}assets/images/logo-reverse-tint.png" alt="">

            <img src="{{site.basurl}}assets/images/logo-reverse-tint.png" alt="">
        </div>
    </article>   
</section>