<section id="tips">
    <div class="mw77">
        <header>
            <h1>{{ page.ourServicesSectionTitle }}</h1>
            <p> {{ page.ourServicesSectionBlurb }}</p>
        </header>
        <div class="card-flex-wrapper">
            {% for post in site.posts %} {
                <div class="ourServices-card">
                <span class="card-number-container">1</span> 
                <h3>{{ post.title }}</h3>
                <p> {{ post.date }} </p>
                <p> {{ content }}</p>
            </div>
            }   
            
        </div>
        
    </div>

</section>