section#ourServices {
    padding-top: 6rem;
    @media screen and (max-width: 600px){
        padding-top: 3rem; 
    }
    header {
        margin-bottom: 5rem; 
    }
    h1 {
        font-size: 3.125rem;
        text-align: center; 
        margin-bottom: 2rem;
        @media screen and (max-width: 600px){
            text-align: left; 
            font-size: 2rem; 
        }
    } 
    p {
        font-size: 2rem;
        line-height: 2; 
        text-align: center;
        @media screen and (max-width: 600px){
            font-size: 1.25rem; 
           
            
        } 
    }
    .card-flex-wrapper {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
    }
    .ourServices-card {
        background: white; 
        position: relative;
        margin: 1rem;
        -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.41);
        -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.41);
        box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.41);
        min-height: 30rem;
        border-radius: 1rem;
        width: 23rem;
        @media screen and (max-width: 600px){
            width: 100%;  
        }
        @media screen and (max-width: 400px){
            margin: 1rem 0;  
        }
        @media screen and (max-width: 77rem) {
            margin-top: 2rem; 
        }

        h3 {
            background: $blue;
            width: 100%; 
            display: flex;
            justify-content: center; 
            padding: 2.25rem 1rem;
            color: white;
            font-size: 2rem; 
            border-radius: 1rem 1rem 0 0;
            text-align: center;
            @media screen and (max-width: 600px){
                font-size: 1.5rem; 
            }
        }
        span {
            position: absolute;
            top: -2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .75rem 1rem;
            left: 0;
            right: 0; 
            text-align: center;
            color: $blue; 
            background: white;
            font-weight: bold; 
            width: 4rem;
            margin: auto;  
            border-radius: 50%; 
            font-size: 2rem; 
            -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.41);
            -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.41);
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.41);

        }
        p {
            font-size: 1rem; 
            padding: 3rem;
            text-align: left;
            @media screen and (max-width: 400px){
                padding: 1.5rem; 
            }

        }
        
    }
}