---
---

$blueGradient: linear-gradient(to bottom, rgba(0,144,255,1) 0%,rgba(0,185,255,1) 100%);
$blue: rgb(0,144,255); 
$baseurl: "{{ site.baseurl }}";

body {
    color:#434343;
    font-family: 'Source Sans Pro', sans-serif;


    main 
    {
        position: relative;
        width: 100%;
        overflow: hidden; 
        
    }
    
}
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
.mw77 {
    max-width: 77rem; 
    margin: auto;
}


@import "_nav.scss";
@import "_header.scss"; 
@import "_ourServices.scss"; 
@import "_ourResults.scss"; 
@import "_whoWeAre.scss"; 
@import "_tips.scss"; 





