<<<<<<< HEAD
---
---
*{
    padding: 0;
    margin: 0; 
}


.header-svg {
    position: relative;
    max-width: 1384px;
    top: -10px; 
=======
---
---

body {
    color: blue;
>>>>>>> 941e9db5f235bcfe376f79910d90ff752aedcc61
}